{{ define "main" }}
{{- .Content -}}
<section id="section-projects">
<div class="container">
	<h1 class="section-title">
		{{if eq .Site.Language.Lang "fr"}}Projets{{else}}Projects{{end}}
	</h1>
	<ul>	
		{{ range .Pages.ByDate.Reverse }}
		<li id="article-{{ .Slug }}">
			<a href="{{ .RelPermalink  }}">				
				<img src="{{ .RelPermalink  }}/images/couverture.jpg">
				<span class="title-project">{{ .Title }}</span>
			</a>
		</li>
		{{ end }}
	</ul>
</div>
</section>
{{ end }}


