{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article id="page-{{- .Params.id -}}">

	<!-- <p>
		{{/*
		CurrentSection allows us to use the section title instead of inferring from the folder.
		https://gohugo.io/variables/page/#section-variables-and-methods
		*/}}
		{{with .CurrentSection.Title }}{{. | upper }}{{end}}
	</p> -->


	<h1>{{- .Title -}}</h1>

	{{- .Content -}}


	{{ with .Resources.ByType "image" }}
	<!-- <div class="images-project" id="images">
		{{ range . }}
		{{ if eq .Title "images/couverture.jpg" }}
		{{ else }} 
			<figure>

			<img src="{{ .RelPermalink }}"/>
			</figure>
		{{ end }}
		{{ end }}
	</div> -->
	{{ end }}


</article>
{{ end }}