@mixin queries($size) {
  @if $size == phone {
    @media screen and (max-width: 700px) {
      @content;
    }
  } @else if $size == desktop {
    @media screen and (min-width: 700px) {
      @content;
    }
  } @else if $size == desktop-hd {
    @media (min-width: 1442px) {
      @content;
    }
  } @else {
    @media (min-width: $size + "px") {
      @content;
    }
  } 
  
}

@include queries(phone) {
}
@include queries(desktop) {
}
@include queries(desktop-hd) {
}
@include queries(900) {
}

