html {
    box-sizing: border-box;
    text-decoration-skip-ink: auto;
}

body, html{
    max-width: 100vw; 
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;

}


*, *:before, *:after {
    position: relative;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: never;
    -moz-font-smooth: never;
    widows: 1;
    orphans: 1;
    
}

em { font-style: italic; }

button {
    border: none;    
    outline: none;
}

a { 
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

*:focus{
    outline: none;
}

sup{ line-height: 0; }

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}