#header {

    position: fixed;
    left: 0;
    width: 100vw;
    background-color: var(--background-site);
    z-index: 11;
    border-bottom: var(--border);
    height: calc(var(--baseline)*2.5);
    @include queries(phone) {height: calc(var(--baseline)*5); }

    .container-header {
        width: 100%;
        @include max-width();
    }

    .container-header {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

   

    

 nav, ul, li { display: inline-block; }

 nav ul li{ 
     padding-right: calc(var(--baseline)*1.3);
     &:last-of-type{ padding-right: 0; }
     a:hover{ color: var(--color-light)}
 }

 .lang-toggle {
    padding-left: calc(var(--baseline)*1.3);
    li{ padding-right: 0;}
    li::before{ content: "[ "; }
    li::after{ content: " ]"; }
 }



@include queries(desktop) {
    .container-header{
        padding-top: calc(var(--baseline)*0.75);
        padding-bottom: calc(var(--baseline)*0.75);
    }
    h1, h2 {
        display: inline-block;
        font-size: var(--font-size);
        line-height: calc(var(--baseline)*1);
        color: var(--color);
        font-weight: 600;
    }
    h2::before { content: "– "; }
}


@include queries(phone) {
    .container-header{
        display: block;
        // padding-bottom: calc(var(--baseline)*0.5);
        nav{
            padding-top: calc(var(--baseline)*0.5);
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            .nav li{
                font-weight: 500;
                text-transform: uppercase;
                padding-right: 0;
                &::after{ 
                    content: "|";
                    padding: 0 8px;
                }
                &:last-of-type::after{ display: none; }
            }
            .lang-toggle { 
                padding-left: 0; 
                position: relative;
                top: -1px;
            }
        }

        h1 {
            font-size: calc(var(--font-size)*1.5);
            line-height: calc(var(--baseline)*1.5);
            color: var(--color);
            font-weight: 600;
        }
        h2 { display: none; }
    }
}


} /* #header */



main {
    padding-top: calc(var(--baseline)*4.5);
    @include queries(phone) {  padding-top: calc(var(--baseline)*6); }
}



#header-socials {
    position: fixed;
    top: calc(var(--baseline)*2.5);
    @include queries(phone) {top: calc(var(--baseline)*5); }
    width: 100vw;
    border-bottom: var(--border); 
    transition: top 0.5s;
    background-color: var(--background-site);
    z-index: 10;

    .socials { 
        width: 100%;
        @include max-width();
        padding: 8px var(--margins) 10px var(--margins); 
            p, ul, li { display: inline-block; }
            .mail::after,
            .adress::after {
                content: "–";
                padding-left: 8px;
                padding-right: 5px;
            }
            ul li{ 
                padding-right: 4px; 
                position: relative;
                top: 4px;
                &:last-of-type { padding-right: 0; }
            }
    
            @include queries(phone) {
                display: flex;
                align-items: center;
                justify-content: space-between; 
                .adress, .mail::after { display: none; }
                ul li{ 
                    padding-right: 8px;
                    top: 2px; 
                } 
            }   
    
    }


    @include queries(desktop) {
        .mail, .adress {
            font-size: var(--font-size-small)!important;
            line-height: var(--line-height-small)!important;
        } 
    } 

    

} /* #header-socials */



#header-socials.is-hidden { top:  0!important; }

#header-socials.is-wisible{
    @include queries(phone) {top: calc(var(--baseline)*5); }
}



