#page-home section{
    border-bottom: var(--border);
    padding-top: calc(var(--baseline)*1.5);
    padding-bottom: calc(var(--baseline)*2);
    &:last-of-type { border-bottom: 0; }
    &:target{ padding-top: calc(var(--baseline)*5);}
    @include queries(phone) {  &:target{ padding-top: calc(var(--baseline)*6.5);} }

    .container{
        @include max-width();
    }

    .section-title {
        font-size: calc(var(--font-size)*1.6);
        line-height: calc(var(--baseline)*1.4);
        margin-bottom: calc(var(--baseline)*2);
        color: var(--color);
        // border-bottom: 2px solid var(--color);
        // display: inline;
    }

   
}


#about {
    font-size: calc(var(--font-size)*1.6);
    line-height: calc(var(--baseline)*1.6); 
    @include queries(phone) {  
        font-size: calc(var(--font-size)*1.3);
        line-height: calc(var(--baseline)*1.3); 
        padding-top: calc(var(--baseline)*2.5)!important;
     }    
     a {
         color: var(--color);
         font-weight: 600;
         padding-left: 3px;
     }
}







#section-research {
    h2{
        font-size: calc(var(--font-size)*1);
        line-height: calc(var(--baseline)*1);
        color: var(--color);
        font-weight: 600;
        margin-top: calc(var(--baseline)*1);
        margin-bottom: calc(var(--baseline)*1);
    }

    ul {
        margin-bottom: calc(var(--baseline)*2);
        li {
            margin-bottom: calc(var(--baseline)*1);
            padding-left: 2em;
            &::before {
                content: "⟡";
                position: absolute;
                left: 0;
                font-weight: 600;
            }
        }
        ul{
            margin-bottom: 0;
            color: var(--color-light);
            li { 
                margin-bottom: 0; 
                padding-left: 0;
                &::before{
                    content: "⤍";
                    position: relative;
                    font-weight: 500;
                    padding-right: 6px;
                }
            }
        }
    }

    a {
        text-decoration: underline dotted;
        text-decoration-skip-ink: none;
        &:hover{ color: var(--color-hover); }
        @include queries(phone){ 
            text-decoration: underline!important;
            color: var(--color-light);
         }
    }

}