#page-projects article {
    @include max-width();

    h1 {
        font-size: calc(var(--font-size)*1.6);
        line-height: calc(var(--baseline)*1.4);
        margin-top: calc(var(--baseline)*1);
        @include queries(phone) {  margin-top: calc(var(--baseline)*2); }
        margin-bottom: calc(var(--baseline)*1);
        color: var(--color);
    }

    p { margin-bottom: var(--baseline); }
    @include queries(phone) {  
        p {
            font-size: calc(var(--font-size)*1.3);
            line-height: calc(var(--baseline)*1.3); 
        }
     } 

    a {
        color: var(--color-hover);
        text-decoration: underline dotted;
        text-decoration-skip-ink: none;
        &:hover{ color: var(--color-light); }
        @include queries(phone){ 
            text-decoration: underline!important;
            color: var(--color-light);
         }
    }

    ul {
        margin-top: var(--baseline);
        margin-bottom: calc(var(--baseline)*2);
        li {
            padding-left: 2em;
            &::before {
                content: "⟡";
                position: absolute;
                left: 0;
                font-weight: 600;
            }
        }
    }

    figure {
        width: 100%;
        margin-bottom: var(--baseline);
        img { width: 100%; }
    }

    iframe {
        width: 100%;
        height: 1000px;
        max-height: 60vh;
        @include queries(phone){ display: none; }
    }



    .link-iframe::before {
        content: "⤍";
        padding-right: 6px;
    }

    .images-project {
        margin-top: calc(var(--baseline)*2);
        margin-bottom: calc(var(--baseline)*3);
    }

    
    
}



@include queries(desktop) {
    .portrait {
        width: 60%!important;
        max-height: 85vh!important;
        margin-left: 20%!important;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }  
}



.border img {
    border: 1px solid black;
}


video {
    width: 100%;
    @media screen and (min-width: 900px){ 
        width: 90%;
        margin-left: 5%;
    }
    margin-bottom: calc(var(--baseline)*2);
    margin-top: calc(var(--baseline)*2);
}

.border-video{
    border: 4px solid #bfbfbf;
    border-bottom: 5px solid #bfbfbf;
}
