#slide-list{
    @include max-width();
    padding-bottom: 10vh;

    h1{
        font-size: calc(var(--font-size)*1.6);
        line-height: calc(var(--baseline)*1.4);
        margin-top: calc(var(--baseline)*1);
        @include queries(phone) {  margin-top: calc(var(--baseline)*2); }
        margin-bottom: var(--baseline);
        color: var(--color);
    }


    ul li {
        margin-bottom: var(--baseline);
        padding-left: 2em;
        &::before {
            content: "⟡";
            position: absolute;
            left: 0;
            font-weight: 600;
        }

        span{ display: block; }

        .title a {
            font-weight: 600;
            color: #222;
            text-decoration: underline dotted;
            text-decoration-skip-ink: none;
            em { font-weight: 600; }
            &:hover{ color: var(--color-hover);}
        }

    }

}