<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Julie Blanc</title>

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="375">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	{{ .Hugo.Generator }}

	<!-- <meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="375">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	{{ .Hugo.Generator }}
	{{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
	{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	{{ else }}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ end }} -->

	{{ $script := resources.Get "js/script.js" | minify }}
	<script src="{{ $script.Permalink }}"></script>


	{{ $styles := resources.Get "scss/main.scss" | toCSS | minify }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

	<!-- Font: Palanquin by Pria Ravichandran
	https://www.fontsquirrel.com/fonts/palanquin -->
	<link rel="stylesheet" href="/fonts/palanquin/stylesheet.css" media="screen">


<!-- 

	{{ block "favicon" . }}
	{{ partial "site-favicon.html" . }}
	{{ end }}

	{{ if .RSSLink }}
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}

	{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{ end }} -->
</head>

<body>
	{{ block "header" . }}{{ partial "header.html" .}}{{ end }}
	<main role="main" id="page-{{lower .Type}}">
		{{ block "main" . }}{{ end }}
	</main>
	{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	<!-- {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }} -->
</body>

</html>